body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 21px;
  line-height: 32px;
  line-height: 1.8em;
  text-transform: none;
  letter-spacing: .02em;
  font-weight: 300;
  font-style: normal;
  color: #555;
}

h1 {
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 0em;
  font-weight: 100;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 45px;
  text-transform: uppercase;
}

h2 {
  margin: 10px 0 30px 0;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 5px solid $lightgreen;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 900;
}

a {
  color: $bodygrey;
  font-weight: bold;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a:hover,
a:active,
a:focus {
  color: $bodygrey;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.5;
}